<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>MVC With Tacos!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</HTML>